<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SebastianWorks</title>
  <script src="https://kit.fontawesome.com/4ecead577c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="has-navbar-fixed-top">
  <nav class="navbar is-fixed-top is-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <p style="padding-right: 1em">Sebastian Santamaria</p>
        <img src="/icons/taco_1f32e.png" alt="image of a taco">
      </a>

      <label class="button-toggle-menu is-hidden-desktop" for="toggle-menu">=</label>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

      </div>
      <div class="navbar-end">
        <a href="/" class="navbar-item is-tab {{#if tab.homeTab}}is-active{{/if}}">
          Home
        </a>

        <a href="/projects" class="navbar-item is-tab {{#if tab.projectsTab}}is-active{{/if}}">
          Projects
        </a>

        <a href="/about" class="navbar-item is-tab {{#if tab.aboutTab}}is-active{{/if}}">
          About
        </a>

        <a href="#footer"class="navbar-item is-tab">
          Contact
        </a>

      </div>
    </div>
  </nav>

<input id="toggle-menu" type="checkbox" aria-label="menu" aria-expanded="false" class="is-hidden"></input>
<aside class="menu is-hidden-desktop">
  <p class="menu-label">
    Pages
  </p>
  <ul class="menu-list">
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="#footer">Contact</a></li>
  </ul>
</aside>

  <main>
    {{{body}}}
  </main>

  <footer class="footer" id="footer">
    <div class="content has-text-centered" id="footer-hero">
      <h2>We should be internet friends!</h2>
      <div class="footer-icons">
        <a href=""><img src="/icons/linkedin.svg" alt="linkedin icon"></a>
        <a href=""><img src="/icons/github.svg" alt="github icon"></a>
        <a href=""><img src="/icons/instagram.svg" alt="instagram icon"></a>
        <a href=""><img src="/icons/facebook.svg" alt="facebook icon"></a>
      </div>
    </div>
    <div class="content has-text-centered">
      <p style="margin-bottom: 0;">Copyright ©2021 Sebastian Santamaria</p>
      {{#if session.isLoggedIn}}
      <form action="/login/logout" method="POST">
            <input type="submit" value="logout" class="button is-link"></input>
      </form>
      {{else}}
        <a href="/login" class="button is-link">login</a>
      {{/if}}
    </div>
  </footer>
</body>

</html>