<section class="section about-me has-text-centered">
    <div class="columns">
        <div class="column">
            <img src="https://bulma.io/images/placeholders/480x800.png" alt="Placeholder image">
        </div>
        <div class="column">
            <p class="title">Learn more about me!</p>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu pretium tortor. Quisque
                sit amet posuere est. In eget pulvinar ipsum, sit amet porttitor libero. Nunc aliquam porttitor neque in
                mollis. Etiam aliquam dictum lobortis. Sed ac urna et risus maximus interdum vel quis purus. Vestibulum
                venenatis a neque quis vulputate.
                Praesent ac dolor accumsan, commodo mauris sed, imperdiet urna. Donec varius augue eros. Morbi ac
                tincidunt ex. Ut quis cursus urna, at consectetur urna. Phasellus viverra urna eget gravida finibus.
                Etiam tortor urna, faucibus ut leo id, porta dictum eros. Morbi porta turpis sed malesuada ullamcorper.
                Nunc ultricies vulputate velit, ac ornare dui pretium iaculis. In rutrum eros nulla, at faucibus mi
                imperdiet nec. </p>
        </div>
    </div>
</section>

<section class="section">
    <p class="title">AMA</p>
    <div class="columns">
        <div class="column">

        {{#if hasDatabaseError}}
            <p>Couldn't fetch the questions at the moment, try again later.</p>
        {{else}}
            {{#if questions.length}}
                {{#each questions}}
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{name}}</strong>
                                    <br>
                                    {{question}}
                                    <br>
                                </p>
                            </div>
                        </div>
                    </article>
                {{/each}}

                {{else}}
                    <p>No questions have been posted yet!</p>
            {{/if}}
        {{/if}}

        <article class="media">
            <figure class="media-left"></figure>
        </article>
    </div>
  
        <div class="column">

            <form action="/about/post" method="POST">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" name="name" placeholder="Text input">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                        <textarea class="textarea" rows="10" name="question" placeholder="Textarea"></textarea>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <input type="submit" value="create" class="button is-link"></input>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>









{{!-- <div class="column">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Barbara Middleton</strong>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec
                            ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum.
                            Nunc in tempus turpis.
                            <br>
                            <small><a>Like</a> 路 <a>Reply</a> 路 3 hrs</small>
                        </p>
                    </div>

                    <article class="media">
                        <figure class="media-left">
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Sean Brown</strong>
                                    <br>
                                    Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi
                                    tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit
                                    nisl a nulla sagittis, a lobortis leo feugiat.
                                    <br>
                                    <small><a>Like</a> 路 <a>Reply</a> 路 2 hrs</small>
                                </p>
                            </div>
                        </div>
                    </article>

                    <article class="media">
                        <figure class="media-left">
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Kayli Eunice </strong>
                                    <br>
                                    Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius
                                    felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus
                                    lacinia non nisl id feugiat.
                                    <br>
                                    <small>2 hrs <a>Reply</a></small>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </article>

            <article class="media">
                <figure class="media-left">
                </figure>
            </article>

            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a class="pagination-previous">Previous</a>
                <a class="pagination-next">Next page</a>
                <ul class="pagination-list">
                    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                </ul>
            </nav>
        </div> --}}