<section class="hero is-danger is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Could not handle your request at the moment, please try again later!
            </p>
            <p>Error:</p>
            <ul>
                <li>{{error}}</li>
            </ul>
        </div>
    </div>
</section>