<section class="hero is-danger is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                This url does not exist!
            </p>
        </div>
    </div>
</section>